[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "1.7.1"
matplotlib = "*"
descartes = "1.1.0"
flask = "*"
scipy = "*"

[dev-packages]
yapf = "*"
autopep8 = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
