[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "*"
matplotlib = "*"
descartes = "*"
flask = "*"
scipy = "*"

[dev-packages]
yapf = "*"
autopep8 = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
